﻿<div ng-controller="AdminCtrl" class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label class="control-label">Product name</label>
            <input ng-model="product.Name" type="text" class="form-control" id="txtName" name="Name" />
        </div>
        <div class="form-group">
            <label class="control-label">Type</label>
            <input ng-model="product.Type" type="text" class="form-control" id="txtType" name="Type" />
        </div>
        <div class="form-group">
            <label class="control-label">Price</label>
            <input ng-model="product.Price" type="text" class="form-control" id="txtPrice" name="Price" />
        </div>
        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea ng-model="product.Description" class="form-control" id="txtDescription" name="Description"></textarea>
        </div>

        <div class="form-group">
            <button ui-sref="admin" type="button" class="btn btn-default" id="btnBack">Back</button>

            <button ng-if="!isEditMode" ng-click="addProduct()" type="button" class="btn btn-success" id="btnAdd">Add</button>
            <button ng-if="isEditMode" ng-click="editProduct()" type="button" class="btn btn-info" id="btnEdit">Edit</button>
        </div>
    </div>
</div>
