﻿<div ng-controller="AdminCtrl" class="row">
    <form name="add-product" method="post" ng-submit="addVendor()" enctype="multipart/form-data">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label class="control-label">Vendor name</label>
                <input ng-model="vendor.Name" type="text" class="form-control" id="txtName" name="Name" />
            </div>
            <div class="form-group">
                <label class="control-label">Latitude</label>
                <input ng-model="vendor.Latitude" type="text" class="form-control" id="txtLatitude" name="Latitude" />
            </div>
            <div class="form-group">
                <label class="control-label">Longitude</label>
                <input ng-model="vendor.Longitude" type="text" class="form-control" id="txtLongitude" name="Longitude" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea ng-model="vendor.Description" class="form-control" id="txtDescription" name="Description"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Address</label>
                <input ng-model="vendor.Address" type="text" class="form-control" id="txtAddress" name="Address" />
            </div>
            <div class="form-group">
                <label class="control-label">Vendor cover image</label>
                <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                     accept="image/*" ngf-max-size="20MB" ngf-min-height="100">Select</div>
            </div>
            <!--angular file upload item-->

            <div class="form-group">
                <button ui-sref="admin" type="button" class="btn btn-default" id="btnBack">Back</button>
           
                <button ng-if="!isEditMode" ng-click="addVendor()" type="button" class="btn btn-success" id="btnAdd">Add</button>
                <button ng-if="isEditMode" ng-click="editVendor()" type="button" class="btn btn-info" id="btnEdit">Edit</button>
            </div>
        </div>
    </form>
</div>
