﻿<div class="row">
    <!-- VENDORS -->
    <div class="col-md-6" style="margin-top: 10px;">
        <a ui-sref="add-vendor" class="btn btn-success">Add new vendor</a>
        <div style="margin-top: 10px;">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Address</th>
                        <th>Cover Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="vendor in vendors">
                    <tr>
                        <td>{{vendor.Name}}</td>
                        <td>{{vendor.Latitude}}</td>
                        <td>{{vendor.Longitude}}</td>
                        <td>{{vendor.Address}}</td>
                        <td><img width="100" height="100" src="{{vendor.ImageUrl}}" /></td>
                        <td>
                            <button class="btn btn-sm btn-default" ng-click="onEditVendor(vendor)">Edit</button>
                            <button class="btn btn-sm btn-danger" ng-click="onRemoveVendor(vendor.Id, $index)">Remove</button>
                            <button class="btn btn-sm btn-info" ng-click="onLinkProduct(vendor)">Link Product</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PRODUCTS -->
    <div class="col-md-6" style="margin-top: 10px;">
        <a ui-sref="add-product" class="btn btn-success">Add new product</a>
        <div style="margin-top: 10px;">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="product in products">
                    <tr>
                        <td>{{product.Name}}</td>
                        <td>{{product.Type}}</td>
                        <td>{{product.Price}}</td>
                        <td>
                            <button class="btn btn-sm btn-default" ng-click="onEditProduct(product)">Edit</button>
                            <button class="btn btn-sm btn-danger" ng-click="onRemoveProduct(product.Id, $index)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
   
    <!-- RATE PLANS-->
<div class="row">
    <div class="col-md-6" style="margin-top: 10px;">
        <button class="btn btn-success" ng-click="ratePlan.showForm = true">Add new rate plan</button>
        <table style="margin-top: 10px;" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="ratePlan in ratePlans">
                <tr>
                    <td>{{ratePlan.Name}}</td>
                    <td>{{ratePlan.Price}}</td>
                    <td>
                        <button class="btn btn-sm btn-default" ng-click="onEditRatePlan(ratePlan)">Edit</button>
                        <button class="btn btn-sm btn-danger" ng-click="onRemoveRatePlan(ratePlan.Id, $index)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row rate-plan-form" ng-show="ratePlan.showForm">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Name:</label>
                    <input id="txtName" ng-model="ratePlan.Name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Price:</label>
                    <input id="txtPrice" ng-model="ratePlan.Price" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <button type="button" ng-click="addRatePlan()" class="btn btn-success">Save</button>
                    <button type="button" ng-click="ratePlan.showForm = false" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
