﻿<div class="row" ng-controller="LinkCtrl">
    <div class="col-md-offset-3 col-md-6">
        <h4>{{vendor.Name}}</h4>
        <ul ng-repeat="product in vendor.Products">
            <li>
                <span>{{product.Name}}</span>
                <button type="button" class="btn btn-danger" ng-click="removeLink(product.Id, $index)">Remove</button>
            </li>
        </ul>
        <label for="singleSelect"> Product to link: </label><br>
        <select class="form-control" name="singleSelect" id="singleSelect" ng-model="selectedProdId">
            <option value="">---Please select---</option> <!-- not selected / blank option -->
            <option ng-repeat="option in products" value="{{option.Id}}">{{option.Name}}</option>
        </select><br>
        <button type="button" class="btn btn-success" ng-click="addLink()">Add link</button>
    </div>
</div>
