<div ng-controller="AuthCtrl" class="row">
    <div class="col-md-6 col-md-offset-3">
        Admin:<input ng-model="admin.email" type="text" class="form-control" />
        Password: <input ng-model="admin.password" type="password" class="form-control" />
        <button ng-click="login()" type="button" class="bnt btn-success">Login</button>
    </div>
</div>