/* Empty. Add your own CSS if you like */
.vendor-list-content .vendor-list .vendor-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

drawer {
  display: block;
  position: fixed;
  top:44px;
  width: 270px;
  height: 100%;
  z-index: 100;
}

.login-btn-wrapper {
    margin: 0 auto;
    width: 300px;
}

.logo-wrapper {
    height: 50px;
    text-align: center;
}

.login-btn-wrapper button {
    max-width: 300px;
    margin: 10px;
}