﻿<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <input ng-model="user.email" type="text" placeholder="Електронный адрес">
        </label>
    </div>
    <a href="#/login" class="button button-balanced">< Back</a>
    <button ng-click="forgotPassword()" type="button" class="button button-calm">Send</button>
</ion-content>