﻿<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <input ng-model="user.email" type="text" placeholder="Електронный адрес">
        </label>
        <label class="item item-input">
            <input ng-model="user.password" type="text" placeholder="Пароль">
        </label>
    </div>
    <button type="button" ng-click="login()" class="button button-calm">Login</button>
    <a href="#/fpassword">Forgot password?</a>
</ion-content>