﻿<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <input ng-model="user.email" type="text" placeholder="Електронный адрес">
        </label>
        <label class="item item-input">
            <input ng-model="user.fullname" type="text" placeholder="Имя Фамилия">
        </label>
        <label class="item item-input">
            <input ng-model="user.password" type="password" placeholder="Пароль">
        </label>
        <label class="item item-input">
            <input ng-model="user.confirmPassword" type="password" placeholder="Повторить пароль">
        </label>
    </div>
    <a href="#/login" class="button button-balanced">< Back</a>
    <button ng-click="register()" type="button" class="button button-calm">Register</button>
</ion-content>