﻿<ion-content ng-controller="AccountCtrl">
    <div class="logo-wrapper">
        Logo here
    </div>
    <div class="login-btn-wrapper">
        <button ng-click="login()" class="button button-outline button-block button-stable btn-vk">Login via VK</button>
        <button class="button button-outline button-block button-stable btn-fb">Login via Facebook</button>

        <button class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</button>
    </div>
</ion-content>
