<ion-view view-title="Coffee points">
  <ion-content class="padding vendor-list-content">
    <ion-list class="vendor-list">
        <ion-item class="vendor-list-item" ng-repeat="vendor in vendors">
            {{vendor.Name}} - some text in here
        </ion-item>
    </ion-list>

      <button class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</button>
  </ion-content>
</ion-view>
