﻿<ion-side-menus>
    <!-- Center content -->
    <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" ng-click="toggleDrawer()"></button>
        </ion-nav-buttons>
        <ion-nav-title ng-show="!hasFilters">
            Users
        </ion-nav-title>
        <ion-nav-buttons side="right">

            <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="openFilters(hasFilters);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-side-menu-content>
        <ion-nav-view name="nav-vendors" title="Ionic App">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <drawer side="left">
        <ion-side-menu side="left">
            <ion-header-bar class="bar-stable">
                <h1 class="title">Left</h1>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item menu-close ng-click="login()">
                        Login
                    </ion-item>
                    <ion-item menu-close href="#/nav/vendors">
                        Search
                    </ion-item>
                    <ion-item menu-close href="#/login">
                        Browse
                    </ion-item>
                    <ion-item menu-close href="#/app/playlists">
                        Playlists
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </drawer>
</ion-side-menus>